/.idea/aparat-uploader.iml
/.idea/shelf/Default_Changelist.xml
/geckodriver.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Default_Changelist/shelved.patch
/.idea/vcs.xml
/.idea/workspace.xml
/config.txt
/creds.json